.input-component {
  display: flex;
  width: 100%;
  max-width: 700px;
  input {
    padding: 10px;
    outline: none;
    border-radius: 6px;
    width: 100%;
  }

  input:focus {
    border: 2px solid #318ed5 !important;
    box-shadow: 1px 1px 10px 5px #318ed5b1;
  }
}
