#collection-tiles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;

  .cart-tile {
    max-width: 300px;
    padding-bottom: 10px;

    .cart-tile-creator {
      font-size: 18px;
      align-self: center;
    }

    .cart-tile-header {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    img {
      object-fit: cover;
      max-width: 300px;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      height: 200px;
    }
  }
}

#collection-list {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .cart-tile {
    padding-bottom: 10px;

    .cart-tile-creator {
      font-size: 22px;
      align-self: center;
    }

    .cart-tile-header {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    img {
      object-fit: cover;
      max-width: 100%;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }
  }
}
