#collection-view {
  #collection-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    // flex-direction: column;
    #collection-details {
      max-width: 550px;
       img {
        object-fit: scale-down;
        width: 100%;
        border-radius: 8px;
      }
    }

    #collection-info {
        flex: 3;
    }
  }
}
