#landing-view {
  color: #fff;
  display: flex;
  justify-content: center;
  #landing_message {
    max-width: 600px;
    padding: 10px;

    button {
      color: #fff;
      padding: 20px 5px;
      border-radius: 12px;
      margin: 0 15px;
      border: 0;
      font-size: 18px;
      font-weight: bold;
      background-color: #318ed5;
    }
    button:hover {
      // background: linear-gradient(-45deg, rgba(59, 85, 41, 0.2), rgba(69, 248, 84, 0.5));
      background-color: #4fa3e4;

    }
  }
}
