.app {
  text-align: center;
  font-size: calc(10px + 2vmin);
}

.visible_class {
  opacity: 1;
}

.hidden_class {
  opacity: 0;
}

.card-background {
  background-color: #c7c5cd;
  border-radius: 8px;
}
